{% extends "_layout" %}

{% set deviceId = craft.app.request.getParam('id') %}
{% set device = craft.entries.id(deviceId).one() %}
{% set title = "Device Detail: " ~ device.title %}

{% set timeSeriesRecords = craft.entries({
    section: 'timeSeries',
    relatedTo: { targetElement: device, field: 'device' },
    orderBy: 'postDate desc',
}).all() %}

{% block title %}
    <div class="brand-logo center grey-text text-darken-2">{{ title }}</div>
    <ul class="left hide-on-med-and-down">
        <li><a href="/" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i> Back to Device Listing</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
        <li class="grey-text">Last Updated: <span id="{{ device.key }}-updated">{{ device.dateUpdated.format('Y-m-d H:i:s') }}</span></li>
    </ul>
{% endblock %}

{% block main %}
    <div class="row">

        {% for signalData in device.lastRecording | json_decode().records %}
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{ signalData.signal }}</span>
                        <div id="{{ device.key }}-{{ signalData.signal }}">
                            {% switch signalData.signal %}
                                {% case "location" %}
                                    {% set locationData = signalData.value | json_decode() %}

                                    <div id="map" style="height:200px"></div>
                                    <script type="text/javascript">
                                        var mymap = L.map('map').setView([{{ locationData.latitude }}, {{ locationData.longitude }}], 13);

                                        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                                            maxZoom: 18,
                                            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                                                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                                                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                                            id: 'mapbox.streets'
                                        }).addTo(mymap);

                                        var marker = L.marker([{{ locationData.latitude }}, {{ locationData.longitude }}]).addTo(mymap);
                                    </script>
                                {% case "accelerometer" %}
                                    {% set accelData = signalData.value | json_decode() %}

                                    <table class="centered">
                                        <thead>
                                        <tr>
                                            <th>Axis</th>
                                            <th>Value</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td>X</td>
                                            <td>{{ accelData.x }}</td>
                                        </tr>
                                        <tr>
                                            <td>Y</td>
                                            <td>{{ accelData.y }}</td>
                                        </tr>
                                        <tr>
                                            <td>Z</td>
                                            <td>{{ accelData.z }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                            {% case "sense_hat_led" %}
                                {% set ledMatrix = signalData.value | json_decode() %}
                                        {% for row in 0..7 %}
                                            <div class="row center-align" style="margin-bottom: 0">
                                            {% for column in 0..7 %}
                                                {% set index = (row * 8) + column %}
                                                {% set r = ledMatrix[index][0] %}
                                                {% set g = ledMatrix[index][1] %}
                                                {% set b = ledMatrix[index][2] %}
                                                <div class="left" style="height: 16px; width: 16px; margin: 1px; background: rgb({{ r }},{{ g }},{{ b }})"></div>
                                            {% endfor %}
                                            </div>
                                        {% endfor %}
                            {% default %}
                                {{ signalData.value }}
                            {% endswitch %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
