{% extends "_layout" %}

{% set title = "Devices" %}

{% block main %}
  {% for device in craft.entries.section('devices').all() %}
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ device.title }}</h2>
      </div>
      <div class="mdl-card__supporting-text">
          <div>Key: {{ device.key }}</div>
          <div>Serial Number: {{ device.serialNumber }}</div>
          <div>Last reported: {{ device.dateUpdated.format('Y-m-d H:i:s') }}</div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/deviceDetail?id={{ device.id }}">
          View
        </a>
      </div>
    </div>
  {% endfor %}
{% endblock %}