{% extends "_layout" %}

{% set title = "Devices" %}


{% block main %}
  <div class="row">

    {% for device in craft.entries.section('devices').all() %}
        <div class="col s12 m3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">{{ device.title }}</span>
                <div>Key: {{ device.key }}</div>
                <div>Serial Number: {{ device.serialNumber }}</div>
                <div>Last reported: {{ device.dateUpdated.format('Y-m-d H:i:s') }}</div>
            </div>
            <div class="card-action">
              <a href="/deviceDetail?id={{ device.id }}">View</a>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>

{% endblock %}